/*system css utilities*/

/*widgets*/

.dummy-submit,
.hidden-widget{
    display: none;
}

/*buttons*/
.bttn-section{
    margin: 5px;
}

.bttn-section-top{
    margin-bottom: 10px;
}

.bttn-section-bttm{
    margin-top: 10px;
}

/*text colors*/
.sys-text-purple, .sys-text-purple:hover {
	color: #6d7fcc;
}

/*text size*/
.fs-150{
	font-size: 150%;
}

/*cursors*/
.noselect {
	-webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
	-khtml-user-select: none; /* Konqueror HTML */
	-moz-user-select: none; /* Old versions of Firefox */
	-ms-user-select: none; /* Internet Explorer/Edge */
	user-select: none; /* Non-prefixed version, currently
						  supported by Chrome, Opera and Firefox */
}

.clicky{
	cursor: pointer;
}
