/*system css utilities*/

/*widgets*/

.dummy-submit,
.hidden-widget{
    display: none;
}

/*buttons*/
.bttn-section{
    margin: 5px;
}

.bttn-section-top{
    margin-bottom: 10px;
}

.bttn-section-bttm{
    margin-top: 10px;
}

/*cursors*/
.clicky{
	cursor: pointer;
}
